body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  font-family: Arial, sans-serif;
}

.calculator {
  width: 330px;
  padding: 20px;
  background: lightcyan;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

.display {
  width: 100%;
  height: 70px;
  background: white;
  color: black;
  text-align: right;
  padding: 20px;
  font-size: 28px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 15px;
  overflow: hidden;
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 55px;
  font-size: 20px;
  border: lightgray;
  cursor: pointer;
  border-radius: 5px;
  background: grey;
  color: Black;
  transition: 0.2s;
  display: grid;
}

button:hover {
  opacity: 0.8;
}

.operation {
  background: grey;
}

.equal {
  grid-row: span 4;
  background: linear-gradient(#ff930f, #ff4e00);
  height: 100%;
  font-size: 25px;
}

.dot,
.decimal,
.clear {
  background: #666;
}
