/* Styling for Body*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: lightgreen;
  font-family: "Times New Roman", Times, serif;
}
/* Styling for Calculator Container*/
.calculator {
  background-color: slateblue;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
/* Styling for Display Screen*/
#display {
  width: 100%;
  height: 65px;
  background-color: lightgray;
  border: none;
  border-radius: 20px;
  margin-bottom: 25px;
  text-align: right;
  font-size: 3em;
  padding: 20px;
  box-sizing: border-box;
  color: brown;
}
/* Styling for Buttons Container*/
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
/* Styling for Buttons*/
button {
  padding: 18px;
  border: none;
  border-radius: 20px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #607d8b;
  color: black;
  transition: background-color 0.2s;
}
/* Button Hover Effect*/
button:hover {
  background-color: lightsalmon;
}

/* Specific button styles */
.operator {
  background-color: greenyellow;
}
/* Operator buttons */
.operator:hover {
  background-color: yellow;
}
/* Scientific function buttons */
.func {
  background-color: orchid;
}
/* Function buttons hover effect */
.func:hover {
  background-color: purple;
}
/* Style for the '=' (Equal) button */
.equal {
  color: black;
  background-color: #4caf50;
}

.equal:hover {
  background-color: #43a047;
  color: black;
}
